---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + HTMX</title>
		<style>
			.loading {
				display: none;
			}
			
			.htmx-request.loading {
				display: inline;
			}
			</style>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>
	<body>
		<h1>Hello, World!</h1>
		<button hx-get="/users" hx-target="#user-list" hx-indicator="#spinner">Load Users</button>
		<ul id="user-list"></ul>
		<div id="spinner" class="loading">Loading...</div>
		<div id="load-users" hx-swap-oob="true"></div>
	</body>
</html>
